* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.5s;
}

html, body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
}

.next {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 100;
  border: none;
  outline: none;
  border-radius: 50%;
  transform: translateY(-50%);
  background: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previous {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 100;
  border: none;
  outline: none;
  border-radius: 50%;
  transform: translateY(-50%);
  background: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  background: url(./puma.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.75s;
}

.text {
  color: white;
  font-size: clamp(50px, 5vw, 80px);
  font-weight: 800;
  -webkit-text-stroke: 2px white;
  position: relative;
  left: 0;
}

.text.stroke {
  color: transparent;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
  background: #9B89C5;
  transition-duration: 1s;
  position: relative;
  overflow-x: hidden;
}

